<div class="row">
  <div class="col-md-12">
    <header>
      <h3>
        Workouts
      </h3>
    </header>
  </div>
</div>

<div class="btn-group" role="group" aria-label="Workout Buttons">
  <%= link_to 'New Workout', new_workout_path, class: 'btn btn-primary' %>
  <%= link_to 'New Exercise', new_exercise_path, class: 'btn btn-primary' %>
  <%= link_to 'New Exercise Set', new_exercise_set_path, class: 'btn btn-primary' %>
</div>

<hr>

<div class="row">
  <div class="col-md-12">
      <h5 class="text-center">Today</h5>
      <div class="table-responsive-sm">
        <table class="table table-bordered">
          <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Workout</th>
            <th scope="col">Exercise</th>
            <th scope="col">Weight</th>
            <th scope="col">Time</th>
          </tr>
          </thead>
          <tbody>
          <% @today.each_with_index do |exercise_set, index| %>
            <% if exercise_set.date.today? %>
              <tr>
                <th scope="row"><%= index + 1 %></th>
                <td><%= exercise_set.workout.name %></td>
                <td>
                  <%= exercise_set.exercise.name %>
                  <% if exercise_set.exercise.adjustment_point.present? %>
                    (<%= exercise_set.exercise.adjustment_point %>)
                  <% end %>
                </td>
                <td><%= exercise_set.weight %></td>
                <td><%= exercise_set.time %></td>
              </tr>
            <% end %>
          <% end %>
          </tbody>
        </table>
      </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <% @workouts.each do |workout| %>
      <h5 class="text-center"><%= workout.name %></h5>
      <div class="table-responsive-sm">
        <table class="table table-hover table-bordered">
          <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Exercise</th>
          </tr>
          </thead>
          <tbody>
          <% workout.exercise_sets.ordered.each_with_index do |exercise_set, index| %>
            <tr data-link="<%= new_exercise_set_path(exercise_id: exercise_set.exercise_id, workout_id: exercise_set.workout_id) %>">
              <th scope="row"><%= index + 1 %></th>
              <td>
                <%= exercise_set.exercise.name %>
                <% if exercise_set.exercise.adjustment_point.present? %>
                  (<%= exercise_set.exercise.adjustment_point %>)
                <% end %>
              </td>
            </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    <% end %>
  </div>
</div>
