<div class="row">
  <div class="col-md-12">
    <header>
      <h3>
        My Account
      </h3>
    </header>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <article class="card">
      <div class="card-header">
        <%= link_to 'javascript:history.back()', class: 'close' do %>
          &times;
        <% end %>
        My Information
      </div>
      <section class="card-body">

        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, id: 'account_form' }) do |f| %>
          <%= registration_error_messages! %>

          <div class="form-row">
            <div class="col-md-12">
              <div class="form-group">
                <%= f.label :name %>
                <%= f.text_field :name, autofocus: true, class: 'form-control' %>
              </div>

              <div class="form-group">
                <%= f.label :email %>
                <%= f.email_field :email, autofocus: true, class: 'form-control' %>
              </div>

              <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
              <% end %>

              <div class="form-group">
                <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br/>
                <%= f.password_field :current_password, autocomplete: 'off', class: 'form-control' %>
              </div>

              <div class="form-group">
                <%= f.label 'New password' %>
                <% if @minimum_password_length %>
                  <em>(<%= @minimum_password_length %> characters minimum)</em>
                <% end %>
                <%= f.password_field :password, autocomplete: 'off', class: 'form-control' %>
              </div>

              <div class="form-group">
                <%= f.label 'Verify password' %>
                <%= f.password_field :password_confirmation, autocomplete: 'off', class: 'form-control' %>
              </div>
            </div>
          </div>
        <% end %>
      </section>
      <footer class="card-footer">
        <%= link_to 'Delete', registration_path(resource_name), data: { confirm: 'Are you sure?' }, class: "btn btn-danger", method: :delete %>
        <div class="float-right">
          <%= link_to 'javascript:history.back()' do %>
            <button class="btn btn-outline-secondary">Cancel</button>
          <% end %>
          <button type="submit" class="btn btn-primary" aria-hidden="true" form="account_form">Save</button>
        </div>
      </footer>
    </article>
  </div>
</div>
