<div class="row">
  <div class="col-md-12">

    <div class="card text-center">
      <div class="card-header text-center">
        <div class="d-flex align-items-center">
          <%= link_to workouts_path do %>
            <i class="fas fa-chevron-left fa-2x ml-auto"></i>
          <% end %>
          <h4 class="mx-auto w-100 mb-0">Exercise Sets</h4>
        </div>
      </div>
      <% @exercise_sets.each do |e| %>
        <div class="list-group list-group-flush">
          <%= link_to edit_exercise_set_path(e), class: 'text-decoration-none' do %>
            <div class="list-group-item list-group-item-action">
              <h5><%= e.exercise.name %></h5>
              <h6>
                <small>
                  <strong>Date:</strong>
                  <%= e.date %>
                </small>
              </h6>
              <h6>
                <small>
                  <strong>Weight:</strong>
                  <%= e.weight %>
                </small>
              </h6>
              <h6>
                <small>
                  <strong>Time:</strong>
                  <%= e.time %>
                </small>
              </h6>
              <h6>
                <small>
                  <strong>Set:</strong>
                  <%= e.workout.name %>
                </small>
              </h6>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
    <%== pagy_bootstrap_nav(@pagy) %>

  </div>
</div>
