<div class="card">
  <div class="card-header text-center">
    <div class="d-flex align-items-center">
      <%= link_to 'javascript:history.back()' do %>
        <button class="btn btn-sm btn-outline-secondary ml-auto">Cancel</button>
      <% end %>
      <div class="mx-auto w-100">New</div>
      <button type="submit" class="btn btn-sm btn-primary ml-auto" aria-hidden="true" form="exercise_set_form">Save</button>
    </div>
  </div>
  <div class="card-body">
    <%= render partial: 'form', locals: { exercise_set: @exercise_set } %>
  </div>
</div>

<!-- Exercise Set History -->
<% if @exercises.present? %>
  <div class="row">
    <div class="col-md-12">
      <div class="table-responsive-sm">
        <table class="table table-striped">
          <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Date</th>
            <th scope="col">Exercise</th>
            <th scope="col">Weight</th>
            <th scope="col">Time</th>
          </tr>
          </thead>
          <tbody>
          <% @exercises.each_with_index do |exercise, index| %>
            <tr>
              <th scope="row"><%= index + 1 %></th>
              <td><%= exercise.date %></td>
              <td>
                <%= exercise.exercise.name %>
                <% if exercise.exercise.adjustment_point.present? %>
                  (<%= exercise.exercise.adjustment_point %>)
                <% end %>
              </td>
              <td><%= exercise.weight %></td>
              <td><%= exercise.time %></td>
            </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
<% end %>
